.vf-screen {
  width: 1280px;
  height: 730px;
  position: relative;

  .link {
    position: absolute;
    display: block;
    // background: rgba(127,62,72, 0.5);
  }

  &--1 {
    background: url(imgs/screen-1.jpg) no-repeat center center fixed;
    background-size: cover;

    .link {

      &--first-tile {
        top: 268px;
        left: 206px;
        width: 280px;
        height: 380px;
      }
    }
  }

  &--2 {
    background: url(imgs/screen-2.jpg) no-repeat center center fixed;
    background-size: cover;

    .link {

      &--home-btn {
        top: 368px;
        left: 16px;
        width: 50px;
        height: 50px;
      }

      &--list-item-balance {
        top: 330px;
        left: 666px;
        width: 340px;
        height: 50px;
      }
    }
  }

  &--3 {
    background: url(imgs/screen-3.jpg) no-repeat center center fixed;
    background-size: cover;

    .link {

      &--home-btn {
        top: 368px;
        left: 16px;
        width: 50px;
        height: 50px;
      }

      &--back-btn {
        top: 143px;
        left: 16px;
        width: 50px;
        height: 50px;
      }

      &--next-step-btn {
        top: 524px;
        left: 172px;
        width: 124px;
        height: 36px;
      }
    }
  }

  &--4 {
    background: url(imgs/screen-4.jpg) no-repeat center center fixed;
    background-size: cover;

    .link {

      &--home-btn {
        top: 368px;
        left: 16px;
        width: 50px;
        height: 50px;
      }

      &--back-btn {
        top: 143px;
        left: 16px;
        width: 50px;
        height: 50px;
      }

      &--next-step-btn {
        top: 524px;
        left: 172px;
        width: 124px;
        height: 36px;
      }
    }
  }

  &--5 {
    background: url(imgs/screen-5.jpg) no-repeat center center fixed;
    background-size: cover;

    .link {

      &--home-btn {
        top: 368px;
        left: 16px;
        width: 50px;
        height: 50px;
      }

      &--back-btn {
        top: 143px;
        left: 16px;
        width: 50px;
        height: 50px;
      }
    }
  }
}
