$font-weight-thin: 100;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-regular: 500;
$font-weight-bold: 700;

$line-height-none: 0;
$line-height-single: 1em;
$line-height-base: 1.333em;
$line-height-double: 1.5em;

$font-path: "fonts/";

$font-family-vodafone-light: "VodafoneLight";
$font-path-vodafone-light: $font-path + "vodafone-light";

$font-family-vodafone-regular: "VodafoneRegular";
$font-path-vodafone-regular: $font-path + "vodafone-regular";

$font-family-vodafone-regular-bold: "VodafoneRegularBold";
$font-path-vodafone-regular-bold: $font-path + "vodafone-bold";

$font-list-vodafone: ($font-family-vodafone-light, $font-path-vodafone-light),
                     ($font-family-vodafone-regular, $font-path-vodafone-regular),
                     ($font-family-vodafone-regular-bold, $font-path-vodafone-regular-bold);

@each $vf-font-family, $vf-font-path in $font-list-vodafone
{
    @font-face
    {
        font-family: $vf-font-family;
        src: url($vf-font-path + ".eot");
        src: url($vf-font-path + ".eot?#ie-fix") format("embedded-opentype"),
        url($vf-font-path + ".woff") format("woff");
        font-style: normal;
        font-weight: 400;
    }
}

@mixin heading-desktop($level: 1)
{
    @if $level == 1
    {
        font-size: 64px;
        line-height: 72px;
        margin: 60px 0;
    }
    @else if $level == 2
    {
        font-size: 56px;
        line-height: 62px;
        margin: 40px 0;
    }
    @else if $level == 3
    {
        font-size: 40px;
        line-height: 48px;
        margin: 60px 0 25px;
    }
    @else if $level == 4
    {
        font-size: 28px;
        line-height: 34px;
        margin: 15px 0;
    }
    @else if $level == 5
    {
        font-size: 20px;
        line-height: 28px;
        margin: 15px 0;
    }
    @else if $level == 6
    {
        font-size: 18px;
        line-height: 24px;
        margin: 10px 0;
    }
}

.heading
{
  display: block;
  font-family: $font-family-vodafone-light;
  font-weight: $font-weight-normal;
  line-height: $line-height-single;
  margin: 0;
  width: 100%;

  &--1
  {
      @include heading-desktop($level: 1);
  }

  &--2
  {
      @include heading-desktop($level: 2);
  }

  &--3
  {
      @include heading-desktop($level: 3);
  }

  &--4
  {
      @include heading-desktop($level: 4);
  }

  &--5
  {
      @include heading-desktop($level: 5);
  }

  &--6
  {
      @include heading-desktop($level: 6);
  }

  &--light
  {
      font-family: $font-family-vodafone-light;
  }

  &--regular
  {
      font-family: $font-family-vodafone-regular;
  }

  &--bold
  {
      font-family: $font-family-vodafone-regular-bold;
  }

  &--center
  {
      text-align: center;
  }

  &--inline
  {
      display: inline-block;
      width: auto;
  }

  &--leading
  {
      margin-top: 0;
  }

  &--trailing
  {
      margin-bottom: 0;
  }

  &--no-gutter
  {
      margin: 0;
  }
}

@mixin text-desktop($level: 1)
{
    @if $level == 1
    {
        font-size: 64px;
        line-height: 72px;
    }
    @else if $level == 2
    {
        font-size: 56px;
        line-height: 62px;
    }
    @else if $level == 3
    {
        font-size: 40px;
        line-height: 48px;
    }
    @else if $level == 4
    {
        font-size: 28px;
        line-height: 34px;
    }
    @else if $level == 5
    {
        font-size: 20px;
        line-height: 28px;
    }
    @else if $level == 6
    {
        font-size: 18px;
        line-height: 24px;
    }
}

.text
{
  font-family: $font-family-vodafone-light;
  font-weight: $font-weight-normal;
  line-height: $line-height-single;
  margin-bottom: 15px;

  &--1
  {
      @include text-desktop($level: 1);
  }

  &--2
  {
      @include text-desktop($level: 2);
  }

  &--3
  {
      @include text-desktop($level: 3);
  }

  &--4
  {
      @include text-desktop($level: 4);
  }

  &--5
  {
      @include text-desktop($level: 5);
  }

  &--6
  {
      @include text-desktop($level: 6);
  }

  &--light
  {
      font-family: $font-family-vodafone-light;
  }

  &--regular
  {
      font-family: $font-family-vodafone-regular;
  }

  &--bold
  {
      font-family: $font-family-vodafone-regular-bold;
  }

  &--center
  {
      text-align: center;
  }

  &--leading
  {
      margin-top: 0;
  }

  &--trailing
  {
      margin-bottom: 0;
  }

  &--no-gutter
  {
      margin: 0;
  }
}
